<b>
    <u>Welcome to the DM Space tool!</u>
</b>
<p>This wizard will help you set up a DM space.</p>
<p>This is useful for eg. sharing DM rooms across multiple accounts.</p>
<br/>
<LinkButton href="/User/DMSpace?stage=1">Get started</LinkButton>

@code {

}