.spaceNameEllipsis {
    padding-left: 8px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    width: calc(100% - 64px);
}

.spaceListItem {
    display: block;
    width: 100%;
    height: 3em;
}

.spaceListItemContainer {
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
    height: 100%;
}

.spaceListItem > img {
    display: inline-block;
}