<LinkButton href="@($"/Rooms/{Space.RoomId}/Space")">Manage space</LinkButton>

<br/>
<details @ontoggle="SpaceChildrenOpened">
    <summary>@Children.Count children</summary>
    @if (_shouldRenderChildren) {
        <p>Breadcrumb: @Breadcrumbs</p>
        <div style="margin-left: 8px;">
            <RoomList Rooms="Children"></RoomList>
        </div>
    }
</details>

@code {

    [Parameter]
    public GenericRoom Space { get; set; }

    [Parameter, CascadingParameter]
    public string? Breadcrumbs {
        get => _breadcrumbs + Space.RoomId;
        set => _breadcrumbs = value;
    }

    private List<GenericRoom> Children { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        if (Breadcrumbs == null) throw new ArgumentNullException(nameof(Breadcrumbs));
        await Task.Delay(Random.Shared.Next(1000, 10000));
        var rooms = Space.AsSpace.GetRoomsAsync();
        await foreach (var room in rooms) {
            if(Breadcrumbs.Contains(room.RoomId)) continue;
            Children.Add(room);
        }
        await base.OnInitializedAsync();
    }

    private bool _shouldRenderChildren = false;
    private string? _breadcrumbs;

    private async Task SpaceChildrenOpened() {
        if (_shouldRenderChildren) return;
        _shouldRenderChildren = true;
        Console.WriteLine($"[RoomList] Rendering children of {Space.RoomId}");
    }

}