[submodule "LibMatrix"]
	path = LibMatrix
	url = https://cgit.rory.gay/matrix/LibMatrix.git
[submodule "MxApiExtensions"]
	path = MxApiExtensions
	url = https://cgit.rory.gay/matrix/tools/MxApiExtensions.git
