[submodule "LibMatrix"]
	path = LibMatrix
	url = https://git.rory.gay/matrix/LibMatrix.git
[submodule "MxApiExtensions"]
	path = MxApiExtensions
	url = https://git.rory.gay/matrix/MxApiExtensions.git
[submodule "ArcaneLibs"]
	path = ArcaneLibs
	url = https://github.com/TheArcaneBrony/ArcaneLibs.git
