    @page "/"
    @using MatrixRoomUtils.Web.Shared.IndexComponents
    @inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>

<h1>Rory&::MatrixUtils</h1>
Small collection of tools to do not-so-everyday things.

<br/><br/>
<h5>Signed in accounts - <a href="/Login">Add new account</a> or <a href="/ImportUsers">Import from TSV</a></h5>
<hr/>
@{
    if (!RuntimeCache.WasLoaded)
    {
        Console.WriteLine("[INDEX] !!! LOCALSTORAGE WAS NOT LOADED !!!");
        LocalStorageWrapper.LoadFromLocalStorage(LocalStorage).GetAwaiter().OnCompleted(() =>
        {
            Console.WriteLine("Users in cache: " + RuntimeCache .LoginSessions.Count);
            StateHasChanged();
        });
    }
}
<form>
    @foreach (var (token, user) in RuntimeCache.LoginSessions)
    {
        <IndexUserItem User="@user"/>
    }
</form>