@page "/"
@using MatrixRoomUtils.Web.Shared.IndexComponents
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>

<h3>Rory&::MatrixUtils</h3>
Small collection of tools to do not-so-everyday things.

<br/><br/>
<h5>Signed in accounts - <a href="/Login">Add new account</a></h5>
<hr/>
<form>
    @foreach (var (token, user) in RuntimeCache.LoginSessions)
    {
        <IndexUserItem User="@user"/>
    }
</form>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!RuntimeCache.WasLoaded)
        {
            Console.WriteLine("[INDEX] !!! LOCALSTORAGE WAS NOT LOADED !!!");
            await LocalStorageWrapper.LoadFromLocalStorage(LocalStorage);
        }
        await base.OnInitializedAsync();
    }
}