@page "/Labs"
<h3>Index of /Labs</h3>
<p>Welcome to RMU Laboratories! We wish you a safe and informative time!</p>
<p>These pages are a work in progress, and may not work <b>or cause permanent account changes!</b></p>
<p>We do not claim responsibility in case something goes wrong here!</p>
<p><b style="color: red;">Here be dragons!!</b></p>
<br/>

<a href="/Labs/Rooms2">Room List v3</a><br/>
<a href="/Labs/Client">Client implementation attempt</a><br/>
<a href="/Labs/DMSpace/Setup">DM Space setup</a><br/>