.activity-cell-container {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.activity-cell {
    width: 85%;
    height: 85%;
    border-radius: 5px;
}

.day-label {
    grid-column: 1;
}

.activity-graph {
    width: fit-content;
    grid-template-columns: 35px repeat(55, 1.5em) !important;
    padding: 0.75rem;
}
