@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @* <PortableDevTools/> *@
            @* <ResourceUsage/> *@
            <a style="color: #ccc; text-decoration: underline" href="https://cgit.rory.gay/matrix/tools/MatrixUtils.git/" target="_blank">Git</a>
            <a style="color: #ccc; text-decoration: underline" href="https://matrix.to/#/%23mru%3Arory.gay?via=rory.gay&via=matrix.org&via=feline.support"
               target="_blank">Matrix</a>
        </div>

        <article class="Content px-4">
            @Body
        </article>
    </main>
</div>

<UpdateAvailableDetector/>
