@page "/FileUploadTest"
<h3>FileUploadTest</h3>

<InputFile OnChange="FilePicked" multiple="false"></InputFile>


@code {

    private async void FilePicked(InputFileChangeEventArgs obj) {
        Console.WriteLine("FilePicked");
        Console.WriteLine(obj.File.Name);
        Console.WriteLine(obj.File.Size);
        Console.WriteLine(obj.File.ContentType);
        var res = await RuntimeCache.CurrentHomeServer.UploadFile(obj.File.Name, obj.File.OpenReadStream(), obj.File.ContentType);
        Console.WriteLine(res);
    }

}