@page "/RoomStateViewer"
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
<h3>Room state viewer - Room list</h3>
<hr/>
@if (Rooms.Count == 0)
{
    <p>You are not in any rooms!</p>
    @* <p>Loading progress: @checkedRoomCount/@totalRoomCount</p> *@
}
else
{
    @foreach (var room in Rooms)
    {
        <a style="color: unset; text-decoration: unset;" href="/RoomStateViewer/@room.Replace('.','~')"><RoomListItem RoomId="@room"></RoomListItem></a>
    }
    <div style="margin-bottom: 4em;"></div>
}

<LogView></LogView>

@code {
    public List<string> Rooms { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        await LocalStorageWrapper.LoadFromLocalStorage(LocalStorage);
        await base.OnInitializedAsync();
        if (RuntimeCache.CurrentHomeServer == null)
        {
            NavigationManager.NavigateTo("/Login");
            return;
        }
        Rooms = (await RuntimeCache.CurrentHomeServer.GetJoinedRooms()).Select(x=>x.RoomId).ToList();
        Console.WriteLine("Fetched joined rooms!");
    }
} 