@using LibMatrix.Extensions
@inherits BaseTimelineItem

<div>
    <details style="display: inline;">
        <summary>
            <i style="color: red;">Unknown event type: <pre style="display: inline;">@Event.Type</pre></i>
        </summary>
        <pre>@Event.ToJson()</pre>
    </details>
</div>

@code {


}
