@page "/Rooms"
<h3>Room list</h3>

@if (Rooms is not null) {
    <RoomList Rooms="Rooms"></RoomList>
}


@code {

    private List<GenericRoom> Rooms { get; set; }
    
    protected override async Task OnInitializedAsync() {
        var hs = await MRUStorage.GetCurrentSessionOrNavigate();
        if (hs is null) return;
        Rooms = await hs.GetJoinedRooms();

        await base.OnInitializedAsync();
    }

}