@page "/HSAdmin"
@using LibMatrix.Homeservers
<h3>Homeserver Admininistration</h3>
<hr/>

<h4>Synapse tools</h4>
<hr/>
<a href="/HSAdmin/RoomQuery">Query rooms</a>

@code {
    public AuthenticatedHomeserverGeneric? Homeserver { get; set; }

    protected override async Task OnInitializedAsync() {
        Homeserver = await MRUStorage.GetCurrentSessionOrNavigate();
        if (Homeserver is null) return;
        await base.OnInitializedAsync();
    }


}