@page "/HSAdmin"
@using LibMatrix.Homeservers
@using ArcaneLibs.Extensions
<h3>Homeserver Admininistration</h3>
<hr/>

@if (Homeserver is null) {
    <p>Homeserver is null...</p>
}
else {
    @if (Homeserver is AuthenticatedHomeserverSynapse) {
        <h4>Synapse tools</h4>
        <hr/>
        <a href="/HSAdmin/RoomQuery">Query rooms</a>
    }
    else {
        <p>Homeserver type @Homeserver.GetType().Name does not have any administration tools in MRU.</p>
        <p>Server info:</p>
        <pre>@ServerVersionResponse?.ToJson(ignoreNull: true)</pre>
    }
}

@code {
    public AuthenticatedHomeserverGeneric? Homeserver { get; set; }
    public ServerVersionResponse? ServerVersionResponse { get; set; }

    protected override async Task OnInitializedAsync() {
        Homeserver = await MRUStorage.GetCurrentSessionOrNavigate();
        if (Homeserver is null) return;
        ServerVersionResponse = await (Homeserver.FederationClient?.GetServerVersionAsync() ?? Task.FromResult<ServerVersionResponse?>(null));
        await base.OnInitializedAsync();
    }

}