@page "/Tools"
<h3>Other tools</h3>

<a href="/Tools/CopyPowerlevel">Copy highest powerlevel across all session</a><br/>
<a href="/Tools/KnownHomeserverList">Find all homeservers you share a room with</a><br/>
<a href="/Tools/MassRoomJoin">Join room across all session</a><br/>
<a href="/Tools/MediaLocator">Locate lost media</a><br/>
<a href="/Tools/SpaceDebug">Debug space relationships</a><br/>
<a href="/Tools/MigrateRoom">Migrate users from a split room to a new room</a><br/>
<a href="/Tools/LeaveRoom">Leave room by ID</a><br/>
