@page "/Tools"
<h3>Index of /Tools</h3>

<h4 class="tool-category">Information tools</h4>
<hr/>
<a href="/Tools/Info/PolicyListActivity">View policy list activity</a><br/>
<a href="/Tools/Info/KnownHomeserverList">Find all homeservers you share a room with</a><br/>
<a href="/Tools/Info/SessionCount">Show session counts for users in a given room</a><br/>

<h4 class="tool-category">User tools</h4>
<hr/>
<a href="/Tools/User/MassRoomJoin">Join room across all session</a><br/>
<a href="/Tools/User/CopyPowerlevel">Copy highest powerlevel across all session</a><br/>
<a href="/Tools/User/ViewAccountData">View account data</a><br/>

<h4 class="tool-category">Moderation tools</h4>
<hr/>
<a href="/Tools/Moderation/InviteCounter">Count invites by inviter</a><br/>
<a href="/Tools/Moderation/MembershipHistory">View membership history</a><br/>
<a href="/Tools/Moderation/UserTrace">Trace user across rooms</a><br/>
<a href="/tools/Moderation/MassCMEBan">Mass write policies to Community Moderation Effort</a><br/>
<a href="/tools/Moderation/RoomIntersections">Find rooms with common users</a><br/>
<a href="/tools/Moderation/DraupnirProtectedRoomsEditor">Edit Draupnir protected rooms set</a><br/>


<h4 class="tool-category">Debugging tools</h4>
<hr/>
<a href="/Tools/Debug/SpaceDebug">Debug space relationships</a><br/>
<a href="/Tools/Debug/LeaveRoom">Leave room by ID</a><br/>
<a href="/Tools/Debug/MediaLocator">Locate lost media</a><br/>
<a href="/Tools/Debug/MigrateRoom">Migrate users from a split room to a new room</a><br/>
